<%= form_with(model: status_datum) do |form| %>
  <% if status_datum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(status_datum.errors.count, "error") %> prohibited this status_datum from being saved:</h2>

      <ul>
        <% status_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :kondisi_data, style: "display: block" %>
    <%= form.text_field :kondisi_data %>
  </div>

  <div>
    <%= form.label :catatan, style: "display: block" %>
    <%= form.text_field :catatan %>
  </div>

  <div>
    <%= form.label :rekomendasi, style: "display: block" %>
    <%= form.text_field :rekomendasi %>
  </div>

  <div>
    <%= form.label :validasi, style: "display: block" %>
    <%= form.text_field :validasi %>
  </div>

 

  <div>
    <%= form.submit %>
  </div>
<% end %>
