<div id="<%= dom_id status_datum %>">
  <p>
    <strong>Kondisi data:</strong>
    <%= status_datum.kondisi_data %>
  </p>

  <p>
    <strong>Catatan:</strong>
    <%= status_datum.catatan %>
  </p>

  <p>
    <strong>Rekomendasi:</strong>
    <%= status_datum.rekomendasi %>
  </p>

  <p>
    <strong>Validasi:</strong>
    <%= status_datum.validasi %>
  </p>

</div>
