<div class="col" id="<%= dom_id aplikasi %>" data-controller="">
  <div class="card h-100">
    <div class="card-body link-open"
         data-controller="visit"
         data-visit-url-value="<%= aplikasi_path(aplikasi) %>"
         data-action="click->visit#open">
      <h5 class="card-title"><%= aplikasi.nama %></h5>
      <p class="card-text"><% aplikasi.inspect %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= aplikasi.alamat_web %></small>
      <p> 
      <div>
        
      <p>
       <strong>verifikator:</strong>  
        <%= aplikasi.verifikators %>
      </p>
      </div>
      </p>
    </div>
  </div>
</div>
