<%= form_with(model: aplikasi) do |form| %>
  <% if aplikasi.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aplikasi.errors.count, "error") %> prohibited this aplikasi from being saved:</h2>

      <ul>
        <% aplikasi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nama, class: 'form-label' %>
    <%= form.text_field :nama, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :alamat_web, class: 'form-label' %>
    <%= form.text_field :alamat_web, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :nama_penanggung_jawab, class: 'form-label' %>
    <%= form.text_field :nama_penanggung_jawab, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :deskripsi, class: 'form-label' %>
    <%= form.text_field :deskripsi, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :verifikator, class: 'form-label' %>
    <%= form.text_field :verifikator, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
