<div id="<%= dom_id verifikator %>">

  <p>
  <strong>Aplikasi:</strong>  
  <%= verifikator.aplikasi %>
  </p>

  <p>
    <strong>Jenis dokumen:</strong>
    <%= verifikator.jenis_dokumen %>
  </p>

  <p>
    <strong>Menu aplikasi:</strong>
    <%= verifikator.menu_aplikasi %>
  </p>

  <p>
    <strong>Kondisi data:</strong>
    <%= verifikator.kondisi_data %>
  </p>

  <p>
    <strong>Catatan:</strong>
    <%= verifikator.catatan %>
  </p>

  <p>
  <strong>Rekomendasi:</strong>
  <%= verifikator.rekomendasi %>
  </p>

</div>
